:host { width: 100%; }

:host /deep/ {
    ng-select {
        width: 100%;
        height: 34px;
        min-width: 80px;
        position: relative;
        border-radius: 3px;
        border: 1px solid #bdc4c9;
        background-color: transparent;

        > div {
            border: none !important;
            height: 34px !important;

            > div.single {
                height: 32px !important;

                > div.placeholder {
                    color: #aaaaaa !important;
                }

                > div.placeholder, > div.toggle, > div.clear, > div.value {
                    color: #3d464d;
                    line-height: 34px !important;
                }
            }
        }
    }

    select-dropdown {
        > div {
            top: 46px;
            border-radius: 3px;
            border: 1px solid #bdc4c9;

            & > div.options {
                border-radius: 2px;

                ul {
                    border-radius: 2px;

                    & > li:first-child { border-top-left-radius: 2px; border-top-right-radius: 2px; }
                    & > li:last-child { border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; }
                }
            }
        }
    }
}