<div class="card">
    <div class="card-header" *ngIf="title || leftButtonBar || rightButtonBar">
        <div class="card-header__items card-header__items--left" *ngIf="leftButtonBar">
            <button class="card-header__button" *ngFor="let button of leftButtonBar" (click)="onButtonClick(button)">
                <i class="material-icons">{{ button.icon }}</i>
            </button>
        </div>
        <span class="card-header__title"><ng-container *ngIf="title">{{ title | translate }}</ng-container></span>
        <div class="card-header__items card-header__items--right" *ngIf="rightButtonBar">
            <button class="card-header__button" *ngFor="let button of rightButtonBar" (click)="onButtonClick(button)">
                <i class="material-icons">{{ button.icon }}</i>
            </button>
        </div>
    </div>
    <div class="card-body" [style.padding]="padding">
        <ng-content></ng-content>
    </div>
</div>