.card {
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #ffffff;
    //border-left: 1px solid #d0d6e2;
    //border-right: 1px solid #d0d6e2;
    //border-bottom: 1px solid #c7cddb;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.card-header {
    height: 50px;
    display: flex;
    padding: 0 20px;
    position: relative;
    background-color: #ffffff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #d0d4d9;

    &__title, &__button { color: #6a788d; }

    &__title {
        flex: 1;
        font-size: 17px;
        max-width: 100%;
        overflow: hidden;
        font-weight: 500;
        line-height: 46px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__items {
        display: flex;
        align-items: center;
        margin-right: -13px;

        &--right {
            & > .card-header__button {
                &:first-child { margin-left: 5px; }
            }
        }

        &--left {
            margin-right: 0;
            margin-left: -13px;

            & > .card-header__button {
                margin-left: 0;

                &:last-child { margin-right: 5px; }
            }
        }
    }

    &__button {
        width: 38px;
        height: 38px;
        border: none;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        transition: color 150ms cubic-bezier(0.0, 0.0, 0.2, 1), background-color 150ms cubic-bezier(0.0, 0.0, 0.2, 1);

        &:hover { color: #000000; background-color: rgba(0, 0, 0, 0.1); }
    }
}

.card-body {
    padding: 20px;
    background-color: #f6f9fc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}