:host /deep/ {
    & .input {
        width: 100%;
        display: block;
        min-width: 80px;
        position: relative;
        border-radius: 2px;
        border: 2px solid #c9c9c9;
        background-color: #ffffff;

        &--grouped { margin-bottom: 20px; }

        &__label {
            display: block;
            margin-bottom: 5px;
        }

        &__icon {
            top: 0;
            left: 0;
            height: 44px;
            padding: 10px;
            font-size: 20px;
            position: absolute;
            border-radius: 2px;
            display: inline-block;
            color: rgba(black, 0.3);
            background-color: transparent;

            & + input, & + textarea { padding-left: 44px; padding-right: 20px; }
        }
    }

    input, textarea {
        margin: 0;
        width: 100%;
        height: 44px;
        border: none;
        font-size: 15px;
        line-height: 44px;
        padding-left: 13px;
        padding-right: 10px;
        -webkit-appearance: none;
        background-color: transparent;

        &:read-only:not(select) {
            color: rgba(black, 0.5);
            background-color: rgba(204, 204, 204, 0.4);
        }

        &:disabled {
            cursor: default;
            pointer-events: none;
            color: rgba(black, 0.3);
            background-color: rgba(204, 204, 204, 0.64);
        }
    }

    textarea {
        resize: none;
        height: 132px;
        line-height: 1.5;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}